
body {
    margin: 0;
    padding: 0;
}
#title {
    height: 10vh;
    color: whitesmoke;
    background-color: teal;
    font-size: 3em;
    text-align: center;
    padding-top: 2em;
}

#main {
    height: 90vh;
    width: 100vw;
    
    padding-top: 5em;
    background-color: teal;

    justify-content: start;
    align-items: center;

    display: flex;
    flex-direction: column;
}

#boxesUp {
    display: flex;
    flex-direction: row;
}
#boxesDown {
    display: flex;
    flex-direction: row;
}
.box {
    height: 8em;
    width: 8em;
    margin:1em;
    background-color: blueviolet;
}

#a {
    background-color: lightblue;
    transition: 1s;
}
#a:hover {
    background-color: yellow;
    transition:1s;
    border-radius: 10% 50% 10% 50%;
    
}
#b {
    background-color: lightcoral;
    transition:1s;
}
#b:hover {
    transition:1s;
    border-radius: 10%;
    margin: 5em;
    transform: rotate(90deg);
}
#c{
    background-color: lightgreen;
    transition:1s;
}
#c:hover {
    background-color: aquamarine;
    transition: 1s;
    border-radius: 50%;
    margin-bottom: 10em;
}
#d {
    background-color: lightsalmon;
    transition: 1s;
}
#d:hover {
    background-color: orangered;
    transition:1s;
    border-radius: 50% 10% 50% 10%;
}
#e {
    background-color: lightcyan;
    transition: 1s;
}
#e:hover {
    background-color: cyan;
    transition:1s;
    border-radius: 50% 10% 50% 10%;
}

#f {
    background-color: lightgoldenrodyellow;
    transition: 1s;
}
#f:hover {
    background-color: goldenrod;
    transition:1s;
    border-radius: 10% 50% 10% 50%;
    
}
#g {
    background-color: lightgray;
    transition:1s;
}
#g:hover {
    background-color: gray;
    transition:1s;
    border-radius: 10%;
    margin: 5em;
    transform: rotate(90deg);
}
#h{
    background-color: lightpink;
    transition:1s;
}
#h:hover {
    background-color: pink;
    transition: 1s;
    border-radius: 50%;
    margin-bottom: 10em;
}
#i {
    background-color: lightseagreen;
    transition: 1s;
}
#i:hover {
    background-color: seagreen;
    transition:1s;
    border-radius: 50% 10% 50% 10%;
}
#j {
    background-color: lightskyblue;
    transition: 1s;
}
#j:hover {
    background-color: skyblue;
    transition:1s;
    border-radius: 50% 10% 50% 10%;
}